/* App.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, white, lightblue);
}

.login-form {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-title {
  text-align: center;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-error-message {
  color: red;
}
